<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Fight</title>
	<style>
	.col-sm-4 img
	{
		max-height:100px;
		border:4px solid transparent;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding:15px;
		filter: grayscale(100%);
	}
	.col-sm-4 img.win
	{
		border:4px solid green;
		filter: initial;
	}
	.btn-rps
	{
		border:1px solid transparent;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		background-color:transparent;
		width:100%;
		height:200px;
		background-repeat:no-repeat;
		background-size:75% auto;
		background-position:center center;
	}
	.btn-rps:hover
	{
		border:1px solid black;
	}
	.btn-rock
	{
		background-image:url('images/batu.png');
	}
	.btn-scissor
	{
		background-image:url('images/gunting.png');
	}
	.btn-paper
	{
		background-image:url('images/kertas.png');
	}
	</style>
</head>
<body>
    <%- include("partials/navbar"); %>
    <div class="container mt-5">
        <h1>Welcome to Room #<%= getroomdetail.room_id %> - <%= getroomdetail.room_name %></h1>
        <br>
		<div class="row">
			<div class="col-sm-6">
				<h2>Player 1: <span class="text-primary"><%= getplayeronedetail.fullName %> (<%= getroomdetail.player_one_score %>)</span></h2>
			</div>
			<div class="col-sm-6 text-end">
				<h2>Player 2: 
				<% if (getroomdetail.player_two_id) { %>
					<span class="text-danger"><%= getplayertwodetail.fullName %> (<%= getroomdetail.player_two_score %>)</span>
				<% } else { %>
					<span class="text-danger">Empty</span>
				<% } %>
				</h2>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-sm-12 text-center">
				<% if (getroomdetail.player_two_id) { %>
					<% if (getroomdetail.rounds > 1) { %>
						<div class="row mb-5 d-flex align-items-center">
							<div class="col-sm-4 text-start">
								<% if(getroomdetail.player_one_choice1 == "r") { %>
									<% if(getroomdetail.player_two_choice1 == "s") { %>
										<img src="images/batu.png" class="image-fluid win">
									<% } else { %>
										<img src="images/batu.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_one_choice1 == "p") { %>
									<% if(getroomdetail.player_two_choice1 == "r") { %>
										<img src="images/kertas.png" class="image-fluid win">
									<% } else { %>
										<img src="images/kertas.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_one_choice1 == "s") { %>
									<% if(getroomdetail.player_two_choice1 == "p") { %>
										<img src="images/gunting.png" class="image-fluid win">
									<% } else { %>
										<img src="images/gunting.png" class="image-fluid">
									<% } %>
								<% } %>
							</div>
							<div class="col-sm-4">
								<h3>Round: 1</h3>
							</div>
							<div class="col-sm-4 text-end">
								<% if(getroomdetail.player_two_choice1 == "r") { %>
									<% if(getroomdetail.player_one_choice1 == "s") { %>
										<img src="images/batu.png" class="image-fluid win">
									<% } else { %>
										<img src="images/batu.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_two_choice1 == "p") { %>
									<% if(getroomdetail.player_one_choice1 == "r") { %>
										<img src="images/kertas.png" class="image-fluid win">
									<% } else { %>
										<img src="images/kertas.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_two_choice1 == "s") { %>
									<% if(getroomdetail.player_one_choice1 == "p") { %>
										<img src="images/gunting.png" class="image-fluid win">
									<% } else { %>
										<img src="images/gunting.png" class="image-fluid">
									<% } %>
								<% } %>
							</div>
						</div>
					<% } %>
					
					<% if (getroomdetail.rounds > 2) { %>
						<div class="row mb-5 d-flex align-items-center">
							<div class="col-sm-4 text-start">
								<% if(getroomdetail.player_one_choice2 == "r") { %>
									<% if(getroomdetail.player_two_choice2 == "s") { %>
										<img src="images/batu.png" class="image-fluid win">
									<% } else { %>
										<img src="images/batu.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_one_choice2 == "p") { %>
									<% if(getroomdetail.player_two_choice2 == "r") { %>
										<img src="images/kertas.png" class="image-fluid win">
									<% } else { %>
										<img src="images/kertas.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_one_choice2 == "s") { %>
									<% if(getroomdetail.player_two_choice2 == "p") { %>
										<img src="images/gunting.png" class="image-fluid win">
									<% } else { %>
										<img src="images/gunting.png" class="image-fluid">
									<% } %>
								<% } %>
							</div>
							<div class="col-sm-4">
								<h3>Round: 2</h3>
							</div>
							<div class="col-sm-4 text-end">
								<% if(getroomdetail.player_two_choice2 == "r") { %>
									<% if(getroomdetail.player_one_choice2 == "s") { %>
										<img src="images/batu.png" class="image-fluid win">
									<% } else { %>
										<img src="images/batu.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_two_choice2 == "p") { %>
									<% if(getroomdetail.player_one_choice2 == "r") { %>
										<img src="images/kertas.png" class="image-fluid win">
									<% } else { %>
										<img src="images/kertas.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_two_choice2 == "s") { %>
									<% if(getroomdetail.player_one_choice2 == "p") { %>
										<img src="images/gunting.png" class="image-fluid win">
									<% } else { %>
										<img src="images/gunting.png" class="image-fluid">
									<% } %>
								<% } %>
							</div>
						</div>
					<% } %>
					
					
					<% if (getroomdetail.rounds > 3) { %>
						<div class="row mb-5 d-flex align-items-center">
							<div class="col-sm-4 text-start">
								<% if(getroomdetail.player_one_choice3 == "r") { %>
									<% if(getroomdetail.player_two_choice3 == "s") { %>
										<img src="images/batu.png" class="image-fluid win">
									<% } else { %>
										<img src="images/batu.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_one_choice3 == "p") { %>
									<% if(getroomdetail.player_two_choice3 == "r") { %>
										<img src="images/kertas.png" class="image-fluid win">
									<% } else { %>
										<img src="images/kertas.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_one_choice3 == "s") { %>
									<% if(getroomdetail.player_two_choice3 == "p") { %>
										<img src="images/gunting.png" class="image-fluid win">
									<% } else { %>
										<img src="images/gunting.png" class="image-fluid">
									<% } %>
								<% } %>
							</div>
							<div class="col-sm-4">
								<h3>Round: 3</h3>
							</div>
							<div class="col-sm-4 text-end">
								<% if(getroomdetail.player_two_choice3 == "r") { %>
									<% if(getroomdetail.player_one_choice3 == "s") { %>
										<img src="images/batu.png" class="image-fluid win">
									<% } else { %>
										<img src="images/batu.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_two_choice3 == "p") { %>
									<% if(getroomdetail.player_one_choice3 == "r") { %>
										<img src="images/kertas.png" class="image-fluid win">
									<% } else { %>
										<img src="images/kertas.png" class="image-fluid">
									<% } %>
								<% } else if(getroomdetail.player_two_choice3 == "s") { %>
									<% if(getroomdetail.player_one_choice3 == "p") { %>
										<img src="images/gunting.png" class="image-fluid win">
									<% } else { %>
										<img src="images/gunting.png" class="image-fluid">
									<% } %>
								<% } %>
							</div>
						</div>
					<% } %>
					
					<% if (getroomdetail.player_one_id == userId) { %>
						<% if (getroomdetail.rounds == 1) { %>
							<% if (!getroomdetail.player_one_choice1) { %>
								<h3>Round: <%= getroomdetail.rounds %></h3>
								<%- include("partials/rps"); %>
							<% } else { %>
								<% if (!getroomdetail.player_two_choice1) { %>
									<h3>Round: <%= getroomdetail.rounds %></h3>
									<div class="pt-5">Waiting for player 2 to select...</div>
									<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
								<% } %>
							<% } %>
						<% } else if (getroomdetail.rounds == 2) { %>
							<% if (!getroomdetail.player_one_choice2) { %>
								<h3>Round: <%= getroomdetail.rounds %></h3>
								<%- include("partials/rps"); %>
							<% } else { %>
								<% if (!getroomdetail.player_two_choice2) { %>
									<h3>Round: <%= getroomdetail.rounds %></h3>
									<div class="pt-5">Waiting for player 2 to select...</div>
									<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
								<% } %>
							<% } %>
						<% } else if (getroomdetail.rounds == 3) { %>
							<% if (!getroomdetail.player_one_choice3) { %>
								<h3>Round: <%= getroomdetail.rounds %></h3>
								<%- include("partials/rps"); %>
							<% } else { %>
								<% if (!getroomdetail.player_two_choice3) { %>
									<h3>Round: <%= getroomdetail.rounds %></h3>
									<div class="pt-5">Waiting for player 2 to select...</div>
									<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
								<% } %>
							<% } %>
						<% } %>
					<% } else if (getroomdetail.player_two_id == userId) { %>
						<% if (getroomdetail.rounds == 1) { %>
							<% if (!getroomdetail.player_two_choice1) { %>
								<h3>Round: <%= getroomdetail.rounds %></h3>
								<%- include("partials/rps"); %>
							<% } else { %>
								<% if (!getroomdetail.player_one_choice1) { %>
									<h3>Round: <%= getroomdetail.rounds %></h3>
									<div class="pt-5">Waiting for player 1 to select...</div>
									<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
								<% } %>
							<% } %>
						<% } else if (getroomdetail.rounds == 2) { %>
							<% if (!getroomdetail.player_two_choice2) { %>
								<h3>Round: <%= getroomdetail.rounds %></h3>
								<%- include("partials/rps"); %>
							<% } else { %>
								<% if (!getroomdetail.player_one_choice2) { %>
									<h3>Round: <%= getroomdetail.rounds %></h3>
									<div class="pt-5">Waiting for player 1 to select...</div>
									<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
								<% } %>
							<% } %>
						<% } else if (getroomdetail.rounds == 3) { %>
							<% if (!getroomdetail.player_two_choice3) { %>
								<h3>Round: <%= getroomdetail.rounds %></h3>
								<%- include("partials/rps"); %>
							<% } else { %>
								<% if (!getroomdetail.player_one_choice3) { %>
									<h3>Round: <%= getroomdetail.rounds %></h3>
									<div class="pt-5">Waiting for player 1 to select...</div>
									<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
								<% } %>
							<% } %>
						<% } %>
					<% } %>
					
				<% } else { %>
					<div class="pt-5">Waiting for player 2 to join the room...</div>
					<a href="/fight?room_id=<%= getroomdetail.room_id %>" class="btn btn-primary mt-2">Refresh</a>
				<% } %>
			</div>
		</div>
    </div>
</body>
</html>